block project_vars



- 
	sectionFirst = [
		{
			title: 'Where imagination & creativity come to life',
			img: 'images/img_1.jpg',
			logo_mod:'section_logo--mod_color_1'
		}
	]

-
	sectionSecond = [
		{
			title: 'Design, Build & Sell your products',
			img: 'images/img_2.jpg',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.<br><br> Tellus dictum elementum purus pharetra dolor sit volutpat pretium. Elementum vitae risus sit quis. Sed quis gravida aliquet sodales malesuada potenti venenatis eu imperdiet.',
			logo_mod:'section_logo--mod_color_2',
			slide_class: 'section_img_center__wrapper'
		}
	]

-
	multiSlidesArray = [
		{
			title: 'Have A Go Hero’s',
			img: 'images/img_3.jpg'
		},
		{
			title: 'Artists',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
			img: 'images/img_4.jpg'
		},
		{
			title: 'Brands',
			img: 'images/img_5.jpg'
		},
		{
			title: 'Makers',
			img: 'images/img_1.jpg'
		},
			{
			title: 'Have A Go Hero’s',
			img: 'images/img_3.jpg'
		}
	],

-
	sectionFourth = [
		{
			title: 'Powered by The Customiser <span class="section_title--mod_mark"> TM </span>',
			img: 'images/img_6.jpg',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu nisl morbi odio semper iaculis etiam elit. Arcu enim, et suspendisse condimentum quam elementum lacus, mi, a. Bibendum vitae in eget posuere vitae est. Diam pulvinar turpis rhoncus condimentum. Senectus nam sed etiam lectus mauris aliquet et. Vehicula mauris nullam placerat pretium eleifend. <br> <br> Platea metus enim lectus euismod commodo dui. Viverra vehicula vitae mus euismod. Eros, amet consequat sem enim gravida non aliquet sagittis. Erat adipiscing pharetra gravida curabitur nibh. Lectus fermentum lorem quam phasellus dolor nunc, a purus viverra. Commodo pretium ut tincidunt dictumst commodo arcu suspendisse pretium erat.'
		}
	]

-
	scrollbarSlidesArray = [
		{
			img: 'images/img_7.jpg',
		},
		{
			img: 'images/img_8.jpg',
		},
		{
			img: 'images/img_9.jpg',
		},
		{
			img: 'images/img_10.jpg',
		},
		{
			img: 'images/img_11.jpg',
		},
		{
			img: 'images/img_12.jpg',
		}
	]

-
	sectionSixth = [
		{
			title: 'A marketplace like no other',
			img: 'images/img_10.jpg',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.'
		}
	]

-
	singleSlidesArray = [
		{
			title: 'Bespoke made, quality assured',
			img: 'images/img_11.jpg',
			descr_caption: 'Limited Editions',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
			slide_class: 'swiper-slide section_img_center__wrapper'
		},
		{
			title: 'Lorem ipsum dolor sit amet',
			img: 'images/img_12.jpg',
			descr_caption: 'Next without caption',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed.',
			slide_class: 'swiper-slide section_img_center__wrapper'
		},
		{
			title: 'Hello world',
			img: 'images/img_10.jpg',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed.',
			slide_class: 'swiper-slide section_img_center__wrapper'
		}
	]

-
	sectionEighth = [
		{
				title: 'A place for makers alike',
			img: 'images/img_12.jpg',
			descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu nisl morbi odio semper iaculis etiam elit. Arcu enim, et suspendisse condimentum quam elementum lacus, mi, a. Bibendum vitae in eget posuere vitae est. Diam pulvinar turpis rhoncus condimentum. Senectus nam sed etiam lectus mauris aliquet et. Vehicula mauris nullam placerat pretium eleifend.'
		}
	]

-
	footerContent = [
		{
			title: 'We’ll be launching very soon!',
			descr: 'So sign up to get notified as soon as we launch so you can start making your own custom products and selling them to the masses.'
		}
	]